{% assign tagStr = '' %}
{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
    {% for tag in page.tags %}
        {% capture tagStr %}{{ tagStr }},{{ tag }}{% endcapture %}
    {% endfor %}

 <div class="sharing-container">
        <div class="container">
          <span>Sharing it:</span> <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}?ref=50amazingshare&via=ucsc&hashtags={{ tagStr }}" target="_blank" title="Share this post on Twitter"><span>Share on Twitter</span></a>
         <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ site.url }}{{ page.url }}?ref=50amazingshare" target="_blank" title="Share this post on Facebook"><span>Share on Facebook</span></a>
          <a class="google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}?ref=50amazingshare" target="_blank" title="Share this post on Google Plus"><span>Share on Google+</span></a>
          <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ site.url }}{{ page.url }}?ref=50amazingshare&source=http%3a%2f%2ffifty.ucsc.edu" target="_blank" title="Share this post on LinkedIn"><span>Share on LinkedIn</span></a>
        </div>
      </div>