{% assign tagStr = '' %}

{% capture shareurl %}{{ site.url }}{{ page.url }}{% endcapture %}

{% for tag in page.tags %}
    {% capture tagStr %}{{ tagStr }},{{ tag }}{% endcapture %}
{% endfor %}

<div class="sharing-container">
  <div class="container">
    <span>Share this:</span>
    <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ shareurl | append: "&via=ucsc&hashtags=" }}{{ tagStr }}" target="_blank"><span>Share on Twitter</span></a>
    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title | uri_escape }}&u={{ shareurl }}" target="_blank"><span>Share on Facebook</span></a>
    <a class="google" href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><span>Share on Google+</span></a>
    <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title | uri_escape }}&url={{ shareurl | append: "&source=http%3a%2f%2ffifty.ucsc.edu" }}" target="_blank"><span>Share on LinkedIn</span></a>
  </div>
</div>
