@mixin background-opacity($color, $opacity: .3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
}