body, html {
	margin: 0;
	padding: 0;
	font-family: $sans-serif-font;
}

.container {
	display: block;
	width: 100%;
	@include media($mobile-portrait){
		margin: 0;
		padding: 0 0 4em 0;
	}
	@include media($mobile){
		margin: 0;
		padding: 0 0 4em 0;
	}
	@include media($portrait){
		margin: 0;
		padding: 0 0 4em 0;
	}
	@include media($tablet){
		margin: 0;
		padding: 0 0 4em 0;
	}
	@include media($desktop){
		margin: 0;
		padding: 0;
	}
}

.content-container {
	@include outer-container;
	margin: 0 auto 0 auto;
	background: rgba (255, 255, 255, .9);
	@include media($mobile-portrait) {
		padding-top:0em;
	}
	@include media($mobile) {
		padding-top:0em;
	}
	@include media($portrait) {
		padding-top:0em;
	}
	@include media($tablet) {
		padding-top:0em;
	}
	@include media($desktop) {
		padding-top:.5em;
	}
}

.left {
	@include media($mobile-portrait){
		display: none;
	}
	@include media($mobile){
		display: none;
	}
	@include media($portrait){
		display: none;
	}
	@include media($tablet){
		display: none;
	}
	@include media($desktop){
		@include span-columns(4);
		display: block;
		text-align: right;
	}
}

h1 {
	font-size: $font-size-h1*1.25;
	color: $yellow;
	text-transform: uppercase;
	font-weight:500 !important;

}
.desktop-logo {
	@include media($mobile-portrait){
		display: none;
	}
	@include media($mobile){
		display: none;
	}
	@include media($portrait){
		display: none;
	}
	@include media($tablet){
		display: none;
	}
	@include media($desktop){
		display: block;
		max-width: 275px;
		float: right;
		margin-top:-1em;
	}
}
.content-box {
	@include media($mobile-portrait){
		@include span-columns(12);
		padding-left: 1em;
	}
	@include media($mobile){
		@include span-columns(12);
		padding-left: 1em;
	}
	@include media($portrait){
		@include span-columns(12);
		padding-left: 1em;
	}
	@include media($tablet){
		@include span-columns(12);
		padding-left: 1em;
	}
	@include media($desktop){
		@include span-columns(8);
		padding-top: 1.25em;
	}
	h1 {
		@include media($mobile-portrait){
			font-size: $font-size-h1*1.25;
			color: $yellow;
			text-transform: uppercase;
			font-weight:500 !important;
		}
		@include media($mobile){
			font-size: $font-size-h1*1.25;
			color: $yellow;
			text-transform: uppercase;
			font-weight:500 !important;
		}
		@include media($portrait){
			font-size: $font-size-h1*1.25;
			color: $yellow;
			text-transform: uppercase;
			font-weight:500 !important;
		}
		@include media($tablet){
			font-size: $font-size-h1*1.25;
			color: $yellow;
			text-transform: uppercase;
			font-weight:500 !important;
		}
		@include media($desktop){
			display: none;
		}
	}
	h2 {
		font-size: $font-size-h2*2;
		color: $yellow;
		@include media($mobile-portrait){
			font-size: $font-size-h2*1.5;
		}
		@include media($mobile){
			font-size: $font-size-h2*1.5;
		}
		@include media($portrait){
			font-size: $font-size-h2*1.5;

		}
		@include media($tablet){
			font-size: $font-size-h2*2;
			text-shadow: 0px 0px #666;
		}
		@include media($desktop){
			font-size: $font-size-h2*2;
			text-shadow: 1px 1px #666;
		}
		em {
		font-size: $font-size-h2*2;
		font-style: italic;
		font-family: $serif-font;
		line-height: $font-size-h2;
			@include media($mobile-portrait){
				font-size: $font-size-h2*1.5;
				color: $blue;
				@include span-columns(12);
				padding-bottom: .25em;
			}
			@include media($mobile){
				font-size: $font-size-h2*1.5;
				color: $blue;
				@include span-columns(12);
				padding-bottom: .25em;
			}
			@include media($portrait){
				font-size: $font-size-h2*1.5;
				color: $blue;
				@include span-columns(12);
				padding-bottom: .25em;
			}
			@include media($tablet){
				font-size: $font-size-h2*2;
				color: $blue;
				text-shadow: 0px 0px #666;
				@include span-columns(12);
				padding-bottom: .25em;
			}
			@include media($desktop){
				font-size: $font-size-h2*2;
				color: $blue;
		        display: block;
		        padding: .40em .25em 0 0;
				text-shadow: 1px 1px #666;
				width: auto;
			}
		}
	}
	.text-box {
		@include span-columns(12);
		float: right;
		color: $blue;
		line-height: $line-height;
		@include media($mobile-portrait) {
			padding-right: 1em;
		}
		@include media($mobile) {
			padding-right: 1em;
		}
		@include media($portrait) {
			padding-right: 1em;
		}
		@include media($tablet) {
			padding-right: 1em;
		}
		@include media($desktop) {
			padding: 1em 1em 0 0;
		}
		.logo {
			width: 100%;
			max-width: 300px;
			bottom: 0;
			@include media($mobile-portrait) {
				display: block;
			}
			@include media($mobile) {
				display: block;
			}
			@include media($portrait) {
				display: block;
			}
			@include media($tablet) {
				display: block;
			}
			@include media($desktop) {
				display: none;
			}
		}
	}
}
.mphoto {
	width: 100%;
	@include media($mobile-portrait){
		display: block;
	}
	@include media($mobile){
		display: block;
	}
	@include media($portrait){
		display: block;
	}
	@include media($tablet){
		display: block;
	}
	@include media($desktop){
		display: none;
	}
}