.sharing-container {
	display: block;
	padding: .5em;
	width: 100%;
	text-align: right;
	.container {
		display: block;
		float: right;
		width: auto;
	}
	span {
		float: left;
		padding-right: .5em;
		color: $gray;
	}
	a.twitter, a.twitter:active {
		display: inline-block;
    	width: 23px;
		height: 23px;
		background: url('/css/images/twitter.svg') no-repeat 0 0;
		background-size: 46px;
		float: left;
		margin-right: 1em;
	}
	a.twitter:hover {
		background-position: -23px 0;
	}
	a.facebook, a.facebook:active {
		display: inline-block;
    	width: 23px;
		height: 23px;
		background: url('/css/images/facebook.svg') no-repeat 0 0;
		background-size: 46px;
		float: left;
		margin-right: 1em;
	}
	a.facebook:hover {
		background-position: -23px 0;
	}
	a.google, a.google:active {
		display: inline-block;
    	width: 23px;
		height: 23px;
		background: url('/css/images/google.svg') no-repeat 0 0;
		background-size: 46px;
		float: left;
		margin-right: 1em;
	}
	a.google:hover {
		background-position: -23px 0;
	}
	a.linkedin, a.linkedin:active {
		display: inline-block;
    	width: 23px;
		height: 23px;
		background: url('/css/images/linkedin.svg') no-repeat 0 0;
		background-size: 46px;
		float: left;
		margin-right: .6em;
	}
	a.linkedin:hover {
		background-position: -23px 0;
	}
	a.twitter span, a.facebook span, a.google span, a.linkedin span{
		position: absolute;
		top: -999em;
	}
}