/* VARIABLES */

//COLORS

$blue: #27578c;
$light-blue: #6689a3;
$yellow: #f1b521;
$gray: #c5c5c6;
$white: #fff;
$red: #d9534f;

//FONT-STYLE

$sans-serif-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-base: $sans-serif-font !default;
$serif-font: 'Gilda Display', serif; // <link href='https://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>

// FONT-SIZES

$font-size-base: 14px !default;
$font-size-h1: 100px;
$font-size-h2: floor($font-size-base * 2.15) !default; // ~30px
$font-size-h3: ceil($font-size-base * 1.7) !default; // ~24px
$font-size-h4: ceil($font-size-base * 1.25) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil($font-size-base * 0.85) !default; // ~12px

$line-height: 24px;





/* BREAKPOINTS */
$desktop:   new-breakpoint(min-width em(960) 12);
$tablet:    new-breakpoint(min-width em(768) 12);
$portrait:  new-breakpoint(min-width em(600) 12);
$mobile:    new-breakpoint(min-width em(499) 12);
$mobile-portrait:    new-breakpoint(max-width em(498) 12);


/* MIXINS */

@mixin background-opacity($color, $opacity: .3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
}