body,
html {
  background: $white;
  font-family: $sans-serif-font;
  height: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  padding: 0;
}

.container {
  display: block;
  width: 100%;

  @include media($mobile-portrait) {
    background: $white;
    padding: 0 0 4em;
  }

  @include media($mobile) {
    background: $white;
    padding: 0 0 4em;
  }

  @include media($portrait) {
    background: $white;
    padding: 0 0 4em;
  }

  @include media($tablet) {
    background: $white;
    padding: 0 0 4em;
  }

  @include media($desktop) {
    background: none;
    margin: 0;
    padding: 0;
  }
}

.content-container {

  @include outer-container;
  background: $white rgba (255, 255, 255, .9);
  margin: 0 auto;

  @include media($tablet) {
    padding-top: 0;
  }

  @include media($desktop) {
    padding-top: .5em;
  }
}

.left {

  @include media($mobile-portrait) {
    display: none;
  }

  @include media($mobile) {
    display: none;
  }

  @include media($portrait) {
    display: none;
  }

  @include media($tablet) {
    display: none;
  }

  @include media($desktop) {

    @include span-columns(4);
    display: block;
    text-align: right;
  }
}

h1 {
  color: $yellow;
  font-size: $font-size-h1 * 1.25;
  font-weight: 500;
  text-transform: uppercase;
}

.desktop-logo {

  @include media($mobile-portrait) {
    display: none;
  }

  @include media($mobile) {
    display: none;
  }

  @include media($portrait) {
    display: none;
  }

  @include media($tablet) {
    display: none;
  }

  @include media($desktop) {
    display: block;
    float: right;
    margin-top: -1em;
    max-width: 275px;
  }
}

.content-box {
  @include media($mobile-portrait) {
    @include span-columns(12);
  }

  @include media($mobile) {

    @include span-columns(12);
  }

  @include media($portrait) {

    @include span-columns(12);
  }

  @include media($tablet) {

    @include span-columns(12);
  }

  @include media($desktop) {

    @include span-columns(8);
    padding-top: 1.25em;
  }

  h1 {
    color: $yellow;
    font-size: $font-size-h1 * 1.25;
    padding-left: .1em;
    text-transform: uppercase;

    @include media($mobile-portrait) {
      display: block;
    }

    @include media($mobile) {
      display: block;
    }

    @include media($portrait) {
      display: block;
    }

    @include media($tablet) {
      display: block;
    }

    @include media($desktop) {
      display: none;
    }
  }

  h2 {
    color: $yellow;

    @include media($mobile-portrait) {
      font-size: $font-size-h2 * 1.5;
      padding-left: .25em;
    }

    @include media($mobile) {
      font-size: $font-size-h2 * 1.5;
      padding-left: .25em;
    }

    @include media($portrait) {
      font-size: $font-size-h2 * 1.5;
      padding-left: .25em;
    }

    @include media($tablet) {
      font-size: $font-size-h2 * 2;
      padding-left: .25em;
      text-shadow: 0 0 $light-gray;
    }

    @include media($desktop) {
      padding-left: 0;
      text-shadow: 1px 1px $light-gray;
    }

    em {
      color: $blue;
      font-family: $serif-font;
      font-style: italic;
      line-height: $font-size-h2;

      @include media($mobile-portrait) {
        @include span-columns(12);
        font-size: $font-size-h2 * 1.5;
      }

      @include media($mobile) {
        @include span-columns(12);
        font-size: $font-size-h2 * 1.5;
      }

      @include media($portrait) {
        @include span-columns(12);
        font-size: $font-size-h2 * 1.5;
      }

      @include media($tablet) {
        @include span-columns(12);
        font-size: $font-size-h2 * 2;
        text-shadow: 0 0 $light-gray;
      }

      @include media($desktop) {
        padding: .40em .25em 0 0;
        text-shadow: 1px 1px $light-gray;
        width: auto;
      }
   }
}

  .text-box {
    @include span-columns(12);
    color: $blue;
    float: right;
    line-height: $line-height;

    @include media($mobile-portrait) {
      padding: 1em;
    }

    @include media($mobile) {
      padding: 1em;
    }

    @include media($portrait) {
      padding: 1em;
    }

    @include media($tablet) {
      padding: 1em;
    }

    @include media($desktop) {
      padding: 1em 1em 0 0;
    }

    .logo {
      bottom: 0;
      max-width: 300px;
      width: 100%;

      @include media($mobile-portrait) {
        display: block;
      }

      @include media($mobile) {
        display: block;
      }

      @include media($portrait) {
        display: block;
      }

      @include media($tablet) {
        display: block;
      }

      @include media($desktop) {
        display: none;
      }
    }
  }
}

.mphoto {
  width: 100%;

  @include media($mobile-portrait) {
    display: block;
  }

  @include media($mobile) {
    display: block;
  }

  @include media($portrait) {
    display: block;
  }

  @include media($tablet) {
    display: block;
  }

  @include media($desktop) {
    display: none;
  }
}
