// 50 things home intro
body,
html {
  background: $blue url('/images/bg-seal.svg') no-repeat center center;
  background-size: cover;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.intro-container {
  clear: both;
  display: block;
  margin: 0;
  max-height: 681px;
  padding: 0;
  text-align: center;
  width: 100%;

  @include media($mobile-portrait) {
    height: 70%;
  }

  @include media($mobile) {
    height: 70%;
  }

  @include media($portrait) {
    height: 70%;
  }

  @include media($tablet) {
    height: 80%;
  }

  @include media($desktop) {
    height: 100%;
  }
}

.bg-container {
  @include outer-container;
  background: url('/images/front-photo.jpg') no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-height: 681px;

  @include media($mobile-portrait) {
    background-position: 75% center;
    height: 100%;
  }

  @include media($mobile) {
    background-position: 40% 15%;
    height: 100%;
  }

  @include media($portrait) {
    background-position: 65% 20%;
    height: 100%;
  }

  @include media($tablet) {
    background-position: 70% center;
    height: 90%;
  }

  @include media($desktop) {
    background-position: center center;
    height: 100%;
  }
  // LOGO
  .logo {
    display: block;
    text-align: center;

    @include media($mobile-portrait) {
      @include span-columns(7);
      background: $blue;
      margin-left: 2%;
      padding: .5em .25em .25em;
    }

    @include media($mobile) {
      @include span-columns(7);
      background: $blue;
      margin-left: 2%;
      padding: .5em .25em .25em;
    }

    @include media($portrait) {
      @include span-columns(5);
      background: $blue;
      margin-left: 7%;
    }

    @include media($tablet) {
      @include span-columns(5);
      background: $blue;
      margin-left: 2%;
      padding: .5em .25em .25em;
    }

    @include media($desktop) {
      @include span-columns(4);
      background: none;
      margin-left: 10%;
      margin-top: 2%;
    }

    img {
      padding: .5em;
      width: 100%;
    }
  }
  //END LOGO

  // TITLE
  .title-container {
    clear: both;
    text-align: left;

    @include media($mobile-portrait) {
      display: none;
      margin-bottom: 5%;
      margin-left: 8%;
      margin-top: 5%;
    }

    @include media($mobile) {
      display: none;
      margin-bottom: 2%;
      margin-left: 8%;
      margin-top: 5%;
    }
    // iphone 6
    @include media($portrait) {
      display: none;
      margin-left: 8%;
      margin-top: 15%;
    }

    @include media($tablet) {
      @include span-columns(7);
      margin-left: 1%;
      margin-top: 33%;
    }

    @include media($desktop) {
      margin-bottom: 1%;
      margin-left: 3.5%;
      margin-top: 2%;
      width: 100%;
    }

    h1 {
      color: $yellow;
      display: inline-block;
      font-weight: 500;
      margin: 0;

      @include media($mobile-portrait) {
        float: none;
        font-size: $font-size-h1 / 2;
        line-height: .75em;
        padding: .5em 0 0;
        text-shadow: 2px 2px $light-gray;
      }

      @include media($mobile) {
        float: none;
        font-size: $font-size-h1 / 2;
        line-height: .75em;
        padding: .5em 0 0;
        text-shadow: 2px 2px $light-gray;
      }

      @include media($portrait) {
        float: none;
        font-size: $font-size-h1 / 2;
        line-height: .75em;
        padding: 0;
        text-shadow: 2px 2px $light-gray;
      }

      @include media($tablet) {
        float: none;
        font-size: $font-size-h1;
        line-height: .75em;
        padding: 0;
        text-shadow: 2px 2px $light-gray;
      }

      @include media($desktop) {
        float: left;
        font-size: $font-size-h1 / 1.19;
        line-height: .95em;
        text-shadow: 0 0 $light-gray;
      }
    }

    h2 {
      color: $blue;
      display: block;
      font-family: $serif-font;
      font-style: italic;
      font-weight: 300;
      line-height: 1.02em;
      margin-top: 0;

      @include media($mobile-portrait) {
        font-size: $font-size-h2 / .75;
        text-shadow: 1px 1px $light-gray;
      }

      @include media($mobile) {
        font-size: $font-size-h2 / .75;
        text-shadow: 1px 1px $light-gray;
      }

      @include media($portrait) {
        color: $blue;
        font-size: $font-size-h2 / .75;
        text-shadow: 1px 1px $light-gray;
      }

      @include media($tablet) {
        color: $white;
        font-size: $font-size-h2 * 1.35;
        text-shadow: 2px 2px $light-gray;
      }

      @include media($desktop) {
        color: $blue;
        text-shadow: 0 0 $light-gray;
      }
    }

    .normal {
      color: $yellow;
      display: block;
      font-family: $sans-serif-font;
      font-style: normal;
      font-weight: 500;

      @include media($portrait) {
        font-size: $font-size-h2 / .75;
        text-shadow: 2px 2px $light-gray;
      }

      @include media($tablet) {
        font-size: $font-size-h2;
        text-shadow: 2px 2px $light-gray;
      }

      @include media($desktop) {
        font-size: $font-size-h2;
        text-shadow: 0 0 $light-gray;
      }
    }
  }
}

.home-teaser-main {
  @include background-opacity($blue, .9);
  clear: both;
  color: $white;
  padding: 1em;
  text-align: left;

  @include media($mobile-portrait) {
    display: none;
  }

  @include media($mobile) {
    display: none;
  }

  @include media($portrait) {
    display: none;
  }

  @include media($tablet) {
    display: none;
  }

  @include media($desktop) {
    display: block;
    font-size: .90em;
    max-width: 500px;
    padding: 1em 1em 1em 3em;
    width: 100%;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  .read {
    background: url('/images/arrow-down.svg') no-repeat 0 0;
    display: block;
    margin: 0 auto;
    overflow: -9000px;
    text-indent: -9000px;

    @include media($mobile-portrait) {
      background-size: 50px;
      height: 25px;
      width: 25px;
    }

    @include media($mobile) {
      background-size: 50px;
      height: 25px;
      width: 25px;
    }

    @include media($portrait) {
      background-size: 50px;
      height: 25px;
      width: 25px;
    }

    @include media($tablet) {
      background-size: 70px;
      height: 35px;
      width: 35px;
    }

    @include media($desktop) {
      background-size: 80px;
      height: 40px;
      width: 40px;
    }
  }

  .read:hover {

    @include media($mobile-portrait) {
      background-position: -25px 0;
    }

    @include media($mobile) {
      background-position: -25px 0;
    }

    @include media($portrait) {
      background-position: -25px 0;
    }

    @include media($tablet) {
      background-position: -35px 0;
    }

    @include media($desktop) {
      background-position: -40px 0;
    }
  }
}
// HOME TEASER MOBILE
.mobile-container {
  margin: 0;
  padding: 0;
  width: 100%;

  @include media($mobile-portrait) {
    display: inline-block;
  }

  @include media($mobile) {
    display: inline-block;
  }

  @include media($portrait) {
    display: inline-block;
  }

  @include media($tablet) {
    display: block;
    margin-top: -3em;
  }

  @include media($desktop) {
    display: none;
  }
}

.mobile-text {
  @include outer-container;

  @include media($mobile-portrait) {
    display: block;
    text-shadow: 1px 1px $light-gray;
  }

  @include media($mobile) {
    display: block;
    text-shadow: 1px 1px $light-gray;
  }

  @include media($portrait) {
    display: block;
    text-shadow: 1px 1px $light-gray;
  }

  @include media($tablet) {
    display: block;
  }

  @include media($desktop) {
    display: none;
  }
}

.title-container-mobile {
  clear: both;
  text-align: left;

  @include media($mobile-portrait) {
    @include span-columns(12);
    padding: .5em;
  }

  @include media($mobile) {
    @include span-columns(12);
    padding: .5em;
  }
  // iphone 6
  @include media($portrait) {
    @include span-columns(12);
    margin-top: 1em;
    padding: .5em;
  }

  @include media($tablet) {
    display: none;
  }

  h1 {
    color: $yellow;
    font-size: $font-size-h1 * 1.25;
    font-weight: 500;
    letter-spacing: .04em;
    margin: 0;

    @include media($mobile-portrait) {
      display: inline-block;
      float: none;
      font-size: $font-size-h1 / 2;
      line-height: .75em;
      padding: .5em 0 0;
    }

    @include media($mobile) {
      display: inline-block;
      float: none;
      font-size: $font-size-h1 / 2;
      line-height: .75em;
      padding: .5em 0 0;
    }

    @include media($portrait) {
      display: inline-block;
      float: none;
      font-size: $font-size-h1 / 2;
      line-height: .75em;
      padding: 0;
    }

    @include media($tablet) {
      display: none;
      float: none;
      font-size: $font-size-h1;
      line-height: .75em;
      padding: 0;
    }

    @include media($desktop) {
      display: none;
    }
  }

  h2 {
    color: $white;
    font-family: $serif-font;
    font-style: italic;
    font-weight: 300;
    letter-spacing: .04em;
    line-height: 1.02em;
    margin-top: 0;
  }
}

.normal-mobile {
  color: $yellow;
  font-family: $sans-serif-font;
  font-style: normal;
  font-weight: 500;

  @include media($mobile-portrait) {
    display: block;
    font-size: $font-size-h2 / .75;
  }

  @include media($mobile) {
    display: block;
    font-size: $font-size-h2 / .75;
  }

  @include media($portrait) {
    display: block;
    font-size: $font-size-h2 / .75;
  }

  @include media($tablet) {
    display: none;
  }
}

.home-teaser-mobile {
  clear: both;
  color: $white;
  font-size: .90em;
  padding: 1em;
  text-align: left;

  @include media($mobile-portrait) {
    display: block;
    width: 100%;
  }

  @include media($mobile) {
    display: block;
    width: 100%;
  }

  @include media($portrait) {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  @include media($tablet) {
    display: block;
    width: 100%;
  }

  @include media($desktop) {
    display: none;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 1em;
  }
}

.read-mobile {
  background: url('/images/arrow-down.svg') no-repeat 0 0;
  display: block;
  margin: 0 auto;
  overflow: -9000px;
  text-indent: -9000px;

  @include media($mobile-portrait) {
    background-size: 70px;
    height: 35px;
    width: 35px;
  }

  @include media($mobile) {
    background-size: 70px;
    height: 35px;
    width: 35px;
  }

  @include media($portrait) {
    background-size: 70px;
    height: 35px;
    width: 35px;
  }

  @include media($tablet) {
    background-size: 80px;
    height: 40px;
    width: 40px;
  }
}

.read-mobile:hover {

  @include media($mobile-portrait) {
    background-position: -35px 0;
  }

  @include media($mobile) {
    background-position: -35px 0;
  }

  @include media($portrait) {
    background-position: -35px 0;
  }

  @include media($tablet) {
    background-position: -40px 0;
  }
}

// LIST

.list-container {
  clear: both;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.number {
  @include outer-container;
  clear: both;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

a:first-child .number-list {
  @include span-columns(12);
  clear: both;
  list-style: none;
  max-height: 25.75em;
  padding: 0;

  @include media($mobile-portrait) {
    margin: 0 auto;
  }

  @include media($mobile) {
    margin: 0 auto;
  }

  @include media($portrait) {
    margin: 0 auto;
  }

  @include media($tablet) {
    margin: 15em auto 0;
  }

  @include media($desktop) {
    margin: 2em auto 0;
  }
}

.number-list {
  @include span-columns(12);
  clear: both;
  list-style: none;
  margin: 2em auto 0;
  max-height: 25.75em;
  padding: 0;
}

.title {
  @include background-opacity($blue, .90);
  max-height: 25.75em;
  text-align: left;

  @include media($mobile-portrait) {
    @include span-columns(5);
    padding: .5em 0 .5em .5em;
  }

  @include media($mobile) {
    @include span-columns(5);
    padding: .5em 0 .5em .5em;
  }

  @include media($portrait) {
    @include span-columns(5);
    padding: .5em 0 .5em .5em;
  }

  @include media($tablet) {
    @include span-columns(6);
    padding: .25em 0 .5em 1.5em;
  }

  @include media($desktop) {
    @include span-columns(5);
    padding: 0 .5em 0 2.25em;
  }
}

.vert-align {
  display: inline-block;
  vertical-align: middle;

  @include media($mobile-portrait) {
    padding-top: 2%;
  }

  @include media($mobile) {
    padding-bottom: 17%;
    padding-top: 17%;
  }

  @include media($portrait) {
    padding-bottom: 7%;
    padding-top: 7%;
  }

  @include media($tablet) {
    padding-top: 10%;
  }

  @include media($desktop) {
    padding-bottom: 20%;
    padding-top: 20%;
  }

  h1 {
    color: $yellow;
    font-weight: 500;
    text-transform: uppercase;

    @include media($mobile-portrait) {
      font-size: $font-size-h1 / 3;
      line-height: 1em;
    }

    @include media($mobile) {
      font-size: $font-size-h1 / 2.9;
    }

    @include media($portrait) {
      font-size: $font-size-h1 / 2;
    }

    @include media($tablet) {
      font-size: $font-size-h1 / 1.25;
    }

    @include media($desktop) {
      font-size: $font-size-h1 / 1;
      line-height: 90px;
    }
  }

  h2 {
    color: $yellow;
    font-size: $font-size-h2;
    font-weight: 500;
    text-transform: uppercase;

    @include media($mobile-portrait) {
      font-size: $font-size-h2 / 2.25;
    }

    @include media($mobile) {
      font-size: $font-size-h2 / 2;
    }

    @include media($portrait) {
      font-size: $font-size-h2 / 1.35;
    }

    @include media($tablet) {
      font-size: $font-size-h2;
    }

    @include media($desktop) {
      font-size: $font-size-h2 * 1.25;
    }

    em {
      @include span-columns(12);
      color: $white;
      display: inline-block;
      font-family: $serif-font;
      font-size: $font-size-h2;
      font-weight: 400;
      text-transform: lowercase;

      @include media($mobile-portrait) {
        font-size: $font-size-h2 / 2.25;
      }

      @include media($mobile) {
        font-size: $font-size-h2 / 2;
      }

      @include media($portrait) {
        font-size: $font-size-h2;
      }

      @include media($tablet) {
        font-size: $font-size-h2;
      }

      @include media($desktop) {
        font-size: $font-size-h2 * 1.25;
      }
    }
  }
}

.arrow {
  background: url('/images/arrow-right.svg') no-repeat 0 0;
  display: block;
  margin: .5em 0 1em;
  overflow: -9000px;
  text-indent: -9000px;

  @include media ($mobile-portrait) {
    background-size: 40px;
    height: 20px;
    width: 20px;
  }

  @include media ($mobile) {
    background-size: 40px;
    height: 20px;
    width: 20px;
  }

  @include media ($portrait) {
    background-size: 60px;
    height: 30px;
    width: 30px;
  }

  @include media ($tablet) {
    background-size: 60px;
    height: 30px;
    width: 30px;
  }

  @include media ($desktop) {
    background-size: 80px;
    height: 40px;
    width: 40px;
  }
}

.arrow:hover {

  @include media ($mobile-portrait) {
    background-position: -20px 0;
  }

  @include media ($mobile) {
    background-position: -20px 0;
  }

  @include media ($portrait) {
    background-position: -30px 0;
  }

  @include media ($tablet) {
    background-position: -30px 0;
  }

  @include media ($desktop) {
    background-position: -40px 0;
  }
}

