//PARALLAX

#slide-1 .bcg {
	@include media($mobile) {
		background-image:url('../css/images/iportrait.jpg')
	}
	@include media($portrait) {
		background-image:url('../css/images/iportrait.jpg')
	}
	@include media($tablet-max) {
		background-image:url('../css/images/iportrait.jpg')
	}
	@include media($tablet) {
		background-image:url('../css/images/tablet.jpg')
	}
	@include media($desktop) {
		background-image:url('../css/images/desktop.jpg')
	}
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	//max-width: 450px;
	margin: -150px 0;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: left;
}
	.hsContent h1 {
		font-weight: 600 !important;
		letter-spacing: .02em;
		color: $yellow;
		margin:0;
		padding:0;
		  @include media($mobile){
		  	font-size: 25px;
		  }
		  @include media($portrait){
		  	font-size: 25px;
		  }
		  @include media($tablet-max){
		  	font-size: 50px;
		  }
		  @include media($tablet){
		  	font-size: 80px;
		  }
		  @include media($desktop){
		  	font-size: 100px;
		  }
	}
	.hsContent p {
		background: $blue;
		margin: 0;
		padding: .5em;
		color: $white;
		margin-top:0;
		@include media($mobile) {
			@include span-columns(12);
		}
		@include media($portrait) {
			@include span-columns(12);
		}
		@include media($tablet-max) {
			@include span-columns(12);
		}
		@include media($tablet) {
			@include span-columns(7);
		}
		@include media($desktop) {
			@include span-columns(5);
		}
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}

.bcg {
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}