<html>
<head>
<title> UC Santa Cruz | Fifty ways to be amazing </title>
 <meta name="description" content="UC Santa Cruz - Fifty ways to be amazing" />
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<link href="/favicon.ico" rel="shortcut icon"/>
<link href="/apple-touch-icon.png" rel="apple-touch-icon"/>
<meta content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" name="viewport"/>
<script src="js/vendor/modernizr-2.7.1.min.js"></script>
<link rel="stylesheet" href="/css/normalize.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>

<!-- PAGE TRANSITION -->

<link rel="stylesheet" href="/css/animsition.min.css">
<script src="/js/animsition.min.js"></script>

<script>

$(document).ready(function() {
  
	  $(".animsition").animsition({
	  
	    inClass               :   'fade-in',
	    outClass              :   'fade-out',
	    inDuration            :    700,
	    outDuration           :    800,
	    linkElement           :   '.animsition-link',
	    // e.g. linkElement   :   'a:not([target="_blank"]):not([href^=#])'
	    loading               :    true,
	    loadingParentElement  :   'body', //animsition wrapper element
	    loadingClass          :   'animsition-loading',
	    unSupportCss          : [ 'animation-duration',
	                              '-webkit-animation-duration',
	                              '-o-animation-duration'
	                            ],
	    //"unSupportCss" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
	    //The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
	    
	    overlay               :   false,
	    
	    overlayClass          :   'animsition-overlay-slide',
	    overlayParentElement  :   'body'
	  });
});

</script>

<!-- PAGE CSS -->
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="page-transition animsition-link" data-animsition-out-class="flip-out-y" data-animsition-out-duration="500">
<div id="intro-container">
	<div class="bg-container">
		<div class="logo">{% image "logo.svg" alt="UC Santa Cruz" %}</div>
		<div class="title-container"><h1>FIFTY</h1><h2>ways<span class="normal">TO BE AMAZING</span></h2></div>
		<div class="home-teaser-main">
			<p> UC Santa Cruz began, it was hailed by then-UC President Clark Kerr as "the most significant educational experiment in the history of the University of California." It still is.</p>

			<p>In our first 50 years, we've assembled the DNA sequence of the human genome and made it publicly available; pioneered the country's first organic farm and garden program&#59; and developed the first computer game design major in the UC system.</p>

			<p>All this is taking place on one of the most visually stunning campus settings in the world, a magical stretch of rolling meadows and majestic redwoods overlooking Monterey Bay. The place invites collaboration, and encourages original thinking, while cultivating an offbeat charm and endearing quirkiness that captures global attention.</p>

			<p>And we're just getting started</p>

			<p><strong>IN HONOR OF THE CAMPUS'S 50TH YEAR, HERE ARE 50 WAYS TO BECOME JUST AS AMAZING AS UC SANTA CRUZ.</strong></p>
			<a href="#list" class="read">Read More</a>
		</div>
	</div>
</div>
<!--MOBILE INTRO-->
<div class="mobile-container">
	<div class="mobile-text">
		<div class="title-container"><h1>FIFTY</h1><h2>ways<span class="normal">TO BE AMAZING</span></h2></div>
		<div class="home-teaser">
			<p> UC Santa Cruz began, it was hailed by then-UC President Clark Kerr as "the most significant educational experiment in the history of the University of California." It still is.</p>

			<p>In our first 50 years, we've assembled the DNA sequence of the human genome and made it publicly available; pioneered the country's first organic farm and garden program&#59; and developed the first computer game design major in the UC system.</p>

			<p>All this is taking place on one of the most visually stunning campus settings in the world, a magical stretch of rolling meadows and majestic redwoods overlooking Monterey Bay. The place invites collaboration, and encourages original thinking, while cultivating an offbeat charm and endearing quirkiness that captures global attention.</p>

			<p>And we're just getting started</p>

			<p><strong>IN HONOR OF THE CAMPUS'S 50TH YEAR, HERE ARE 50 WAYS TO BECOME JUST AS AMAZING AS UC SANTA CRUZ.</strong></p>
			<a href="#list" class="read">Read More</a>
		</div>
	</div>
</div>
 <!-- PAGINATION -->
    {% if paginator.total_pages > 1 %}
<div class="pagination-container">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
     <!-- END PAGINATION -->
<div id="list-container">
	<ul class="number">
	<a name="list"></a>
	{% for post in site.categories.list reversed %}
	<a href="{{ post.url | prepend: site.baseurl }}" class="animsition-link" data-animsition-out-class="fade-out-right" data-animsition-out-duration="2000">
	<li class="number" style="background:url('{{ post.teaser-image }}') no-repeat; background-size: 100%; ">
		<div class="title">
			<div class="vert-align">
				<h1>{{ post.title-one }}</h1><h2><em>{{ post.title-two }}</em> {{ post.title-three }}</h2>
				<span class="arrow"></span>
			</div>
		</div>
	</li>
	</a>
	{% endfor %}
	</ul>
</div>
</div>
</body>
</html>
