---
---
<html>
<head>
<title>{{ page.title }} | UC Santa Cruz</title>
<meta content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" name="viewport"/>
<script src="/js/vendor/modernizr-2.7.1.min.js"></script>
<link rel="stylesheet" href="/css/normalize.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>

<!-- SOCIAL -->
<meta content="{{ page.title }}" property="og:title"/>
<meta content="og:url" content="{{ site.url }}{{ page.url }}">
<meta content="article" property="og:type"/>
<meta content="{{ site.url }}{{ page.img }}" property="og:image"/>
<meta content="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta content="{{ site.title }}" property="og:site_name"/>
<meta content="1322847221,508316988" property="fb:admins"/>
<meta content="https://www.facebook.com/ucsantacruz" property="article:publisher"/>

<meta content="summary" name="twitter:card"/>
<meta content="@ucsc" name="twitter:site"/>
<meta content="{{ site.url }}{{ page.url }}" name="twitter:url"/>
<meta content="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta content="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<meta content="{{ site.url }}{{ page.img }}" name="twitter:image"/>


<!-- PAGE CSS -->
<link rel="stylesheet" href="/css/page-one.css">
</head>
<body>
<div class="container">
	<div class="content-container">
		<div class="photo-box"><img src="{{ page.img }}" alt="{{ post.alt }}"></div>
		<div class="content-box">
			<div class="title-container">
				<h1>{{ page.title-one }}</h1><em>{{ page.title-two }}</em><h2>{{ page.title-three }}</h2>
			</div>
			<img src="{{ page.img }}" class="mobile-photo" alt="{{ post.alt }}">
			<div class="text-box">
			<p>{{ content }}</p>

			{% include sharing.html %}

			{% image 'blue-logo.svg' "UC Santa Cruz" class="logo" %}

			<div class="pagination-container">
    <div class="PageNavigation">
	   	<a href="/index.html" class="home"><span>Home</span></a>
	  {% if page.previous.url %}
	    <a class="prev" href="{{page.previous.url}}"><span>&laquo; Prev</span></a>
	  {% endif %}
	  {% if page.next.url %}
	    <a class="next" href="{{page.next.url}}"><span>Next &raquo;</span></a>
	  {% endif %}
</div>
  </div>
			</div>
		</div>
	</div>
 
</body>
</html>